client/src/calculator/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions
		xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://calculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator/" name="CalculatorService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://calculator/"
						schemaLocation="http://localhost:8080/WebService_war_exploded/services/Calculator?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="mul">
		<part name="parameters" element="tns:mul"/>
	</message>
	<message name="mulResponse">
		<part name="parameters" element="tns:mulResponse"/>
	</message>
	<message name="sub">
		<part name="parameters" element="tns:sub"/>
	</message>
	<message name="subResponse">
		<part name="parameters" element="tns:subResponse"/>
	</message>
	<message name="div">
		<part name="parameters" element="tns:div"/>
	</message>
	<message name="divResponse">
		<part name="parameters" element="tns:divResponse"/>
	</message>
	<message name="add">
		<part name="parameters" element="tns:add"/>
	</message>
	<message name="addResponse">
		<part name="parameters" element="tns:addResponse"/>
	</message>
	<portType name="Calculator">
		<operation name="mul">
			<input wsam:Action="http://calculator/Calculator/mulRequest" message="tns:mul"/>
			<output wsam:Action="http://calculator/Calculator/mulResponse" message="tns:mulResponse"/>
		</operation>
		<operation name="sub">
			<input wsam:Action="http://calculator/Calculator/subRequest" message="tns:sub"/>
			<output wsam:Action="http://calculator/Calculator/subResponse" message="tns:subResponse"/>
		</operation>
		<operation name="div">
			<input wsam:Action="http://calculator/Calculator/divRequest" message="tns:div"/>
			<output wsam:Action="http://calculator/Calculator/divResponse" message="tns:divResponse"/>
		</operation>
		<operation name="add">
			<input wsam:Action="http://calculator/Calculator/addRequest" message="tns:add"/>
			<output wsam:Action="http://calculator/Calculator/addResponse" message="tns:addResponse"/>
		</operation>
	</portType>
	<binding name="CalculatorPortBinding" type="tns:Calculator">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="mul">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="sub">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="div">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="add">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CalculatorService">
		<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
			<soap:address location="http://localhost:8080/WebService_war_exploded/services/Calculator"/>
		</port>
	</service>
</definitions>
